.button {
  display: flex;
  align-items: center;
  height: 80px;
  width: 287px;
  padding: 5px 17px;
  border: none;
  background-color: #ff6a9f;
  border-radius: 50px;
}

.button__icon {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #000;
  z-index: 10;
  margin: 0 18px 0 0;
}

.button__icon::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: linear-gradient(to bottom right, #b04e78, #ffa1c2);
  /* filter: blur(2px); */
  z-index: -1;                                 ;
}

.button__icon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: inherit;
  border-radius: inherit;
}

.button__icon svg {
  width: 32px;
  height: 22px;
}

.button__text {
  margin: 0;
  font-family: 'DINPro', Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 2px;
}