.info {
  flex-grow: 1;
  padding: 82px 0 0;
}

.info__title {
  margin: 0 0 80px 0;
  font-family: 'DINPro', Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.info__container {
  position: relative;
  width: 774px;
  height: 390px;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0 0 0 90px;
  overflow-y: auto;
  direction: rtl;
}

.info__container::-webkit-scrollbar {
  width: 23px;
}

.info__container::-webkit-scrollbar-track {
  background: rgb(0,0,0);
  border: 9px solid transparent;
  background-clip: content-box;
  border-radius: 50px;
}

.info__container::-webkit-scrollbar-thumb {
  background: rgb(142,64,106);
  background: linear-gradient(90deg, rgba(142,64,106,1) 0%, rgba(236,57,137,1) 58%, rgba(234,181,205,1) 100%);
  border-radius: 50px;
}

.info__bg {
  position: fixed;
  top: 31%;
  bottom: 10%;
  left: 11%;
  right: 13%;
  background-color: #fff;
  border-radius: 50px;
  z-index: 1000;
}

.info__text {
  position: relative;
  margin: 0;
  width: 100%;
  height: 400px;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  direction: ltr;
  z-index: 1010;
}

.info__text_bold {
  font-weight: 800;
}

.sperm_1 {
  position: absolute;
  top: 152px;
  right: -95px;
  width: 309px;
  height: 171px;
  z-index: 1;
  opacity: 0;
  animation: move-sperm1 2s ease-in-out 1.2s 1 normal forwards running;
}

.sperm_2 {
  position: absolute;
  top: 200px;
  right: -95px;
  width: 440px;
  height: 311px;
  z-index: 2;
  opacity: 0;
  animation: move-sperm2 2s ease-in-out 1s 1 normal forwards running;
}

.sperm_3 {
  position: absolute;
  top: 200px;
  right: -95px;
  width: 657px;
  height: 510px;
  z-index: 1;
  background-color: transparent;
  opacity: 0;
  animation: move-sperm2 2s ease-in-out 1s 1 normal forwards running;
}

.sperm_4 {
  position: absolute;
  top: 509px;
  right: -95px;
  width: 140px;
  height: 370px;
  z-index: 4;
  opacity: 0;
  animation: move-sperm2 2s ease-in-out 1s 1 normal forwards running;
}

.sperm_5 {
  position: absolute;
  top: 618px;
  right: -95px;
  width: 136px;
  height: 150px;
  z-index: 5;
  opacity: 0;
  animation: move-sperm2 2s ease-in-out 1.2s 1 normal forwards running;
}

@keyframes move-sperm1 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-102px, -76px);
    opacity: 1;
  }
}

@keyframes move-sperm2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100px, -95px);
    opacity: 1;
  }
}