.page__content {
  position: relative;
  width: 1024px;
  height: 768px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px 42px 12px 66px;
  background-image: url(../../images/main-bg.png);
  background-size: cover;
}
